<!DOCTYPE html>
<div class="row">
    <legend *ngIf="!post.id;else legend_Editar">Maquina de Clones</legend>
    <ng-template #legend_Editar>
        <legend>Editar Clone</legend>
    </ng-template>
    <form class="form-horizontal" (submit)="save()">
        <div class="form-group">
            <label for="nome" class="control-label">Nome:</label>
            <input id="nome" name="nome" pattern="[A-Z]" type="text" class="form-control" [(ngModel)]="post.nome" required>
        </div>
        <div class="form-group">
            <label for="idade" class="control-label">Idade:</label>
            <input type="number" name="idade" id="idade" class="form-control" [(ngModel)]="post.idade" appMyRules required>
        </div>
        <input type="text" name="data" id="data" [(ngModel)]="post.data" hidden readonly required>
        <fieldset>
            <legend>Atributos especiais</legend>
            <br>
            <input type="checkbox" name="Raio Laser" id="Raio_Laser" value="Raio Laser" ng-reflect-model="Raio Laser" [(ngModel)]="post.atributo1">
            <label for="Raio_Laser">Raio Laser</label>
            <br>
            <input type="checkbox" name="Braço Mecânico" id="Braco_Mecanico" value="Braço Mecânico" [(ngModel)]="post.atributo2">
            <label for="Braco_Mecanico">Braço Mecânico</label>
            <br>
            <input type="checkbox" name="Esquelo Reforcado" id="Esquelo_Reforcado" [(ngModel)]="post.atributo3">
            <label for="Esquelo_Reforcado">Esquelo Reforçado</label>
            <br>
            <input type="checkbox" name="Sentidos Agucados" id="Sentidos_Agucados" [(ngModel)]="post.atributo4">
            <label for="Sentidos_Agucados">Sentidos Aguçados</label>
            <br>
            <input type="checkbox" name="Pele Adaptativa" id="Pele_Adaptativa" [(ngModel)]="post.atributo5">
            <label for="Pele_Adaptativa">Pele Adaptativa</label>
        </fieldset>
        <br>
        <br>
        <app-button type="submit" color="primary">Enviar</app-button>
    </form>
</div>
<br>
<br>