<!DOCTYPE html>
<section>
    <fieldset>
        <form action="" method="post">
            <legend>Maquina de Clones</legend>
            <br>
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" type="text">
            <br>
            <br>
            <label for="idade">Idade:</label>
            <input type="text" name="idade" id="idade">
            <br>
            <br>
            <fieldset>
                <legend>Atributos especiais</legend>
                <br>
                <input type="checkbox" name="Raio Laser" id="Raio Laser">
                <label for="Raio Laser">Raio Laser</label>
                <br>
                <input type="checkbox" name="Braço Mecânico" id="Braco Mecanico">
                <label for="Braco Mecanico">Braço Mecânico</label>
                <br>
                <input type="checkbox" name="Esquelo Reforcado" id="Esquelo Reforcado">
                <label for="Esquelo Reforcado">Esquelo Reforçado</label>
                <br>
                <input type="checkbox" name="Sentidos Agucados" id="Sentidos Agucados">
                <label for="Sentidos Agucados">Sentidos Aguçados</label>
                <br>
                <input type="checkbox" name="Pele Adaptativa" id="Pele Adaptativa">
                <label for="Pele Adaptativa">Pele Adaptativa</label>
            </fieldset>
            <br>
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </fieldset>
</section>