<!DOCTYPE html>
<div class="col-md-12">
    <legend>Clones Cadastrados</legend>
    <app-button color="primary" routerLink="/clone/create">
        <app-glyph icon="plus"> </app-glyph>
    </app-button>
    <div class="row">
        <app-alert color="success" [close]="true" [timeout]="6000" *ngIf="message">{{message}}</app-alert>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Idade</td>
                <td>Data de Criação</td>
                <td>Atributos Especiais</td>
                <td>Funções</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts; let i = index">
                <td>{{post.id}}</td>
                <td>{{post.nome}}</td>
                <td>{{post.idade}}</td>
                <td>{{post.data}}</td>
                <td>{{post.atributo1}}{{post.atributo2}}{{post.atributo3}}{{post.atributo4}}{{post.atributo5}}</td>
                <td>
                    <a [routerLink]="['/clone',post.id]">
                        <app-glyph icon="pencil"></app-glyph>
                    </a>|
                    <a href="javascript:void(0)" (click)="openModal(post)">
                        <app-glyph icon="trash"> </app-glyph>
                    </a>
                </td>
            </tr>
            <!-- <tr *ngFor="let item of cadastros">
                    <td>{{item.nome}}</td>
                    <td>{{item.idade}}</td>
                    <td>{{item.data}}</td>
                    <td>{{item.atributo1}} {{item.atributo2}} {{item.atributo3}} {{item.atributo4}} {{item.atributo5}}</td>
                </tr> -->
        </tbody>
    </table>

    <app-modal>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="postToDelete">
            <p>Deseja excluir esse Clone? <strong>{{postToDelete.title}}</strong></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" (click)="destroy()">Deletar</button>
        </div>
    </app-modal>
</div>